/*  Timbo Deli Distributors */

/* BODY and PAGE
---------------------------------------------------------------------- */

@font-face {
  font-family:'OpenSansBold';
  src: url('open-sans/OpenSans-Bold-webfont.woff') format('woff'),
       url('open-sans/OpenSans-Bold.ttf') format('truetype'); 
}

@font-face {
  font-family:'OpenSansReg';
  src: url('open-sans/OpenSans-Regular-webfont.woff') format('woff'),
       url('open-sans/OpenSans-Regular.ttf') format('truetype'); 
}

@font-face {
  font-family:'OpenSansLite';
  src: url('open-sans/OpenSans-Light-webfont.woff') format('woff'),
       url('open-sans/OpenSans-Light.ttf') format('truetype'); 
}

body { 
  font-family: 'OpenSansLite', Helvetica, Arial, serif;
  margin:0px; 
  padding:0px; 
}

/* DEFAULT STYLING
---------------------------------------------------------------------- */
h1 {
  font-family: 'OpenSansBold';
  font-size: 36px;
  text-transform: uppercase;
}

h2 {
  font-family: 'OpenSansBold';  
  font-size:20px;
  text-transform: uppercase;
  margin-bottom: 39px;
}

h3 {
  font-family: 'OpenSansReg';
  font-size:22px;
}

p { 
  font-family: 'OpenSansReg';
  font-size: 14px;
  color: #848484;
  line-height: 22px;  
}

a {
  text-decoration: none;
}

/* LAYOUT
---------------------------------------------------------------------- */
header {
  top:0px;
  height: 395px;
  background-color: #b5121b;
  background-image: url('images/ThummansFullLine.jpg');
  background-position: center;
  overflow: hidden;
}

header h1 {
  width:478px;
  color:#FFF;
  padding: 16px 23px;
  border: 3px solid #FFF;
  margin: 71px auto 36px auto;
}

header h2 {
  width:629px;
  font-size: 28px;
  font-family: 'OpenSansLite';
  color:#FFF;
  margin: 0px auto;
}

header h3 {
  border:solid 0px blue;
  width:480px;
  font-family: 'OpenSansLite';
  color:#FFF;
  text-transform: uppercase;
  margin: 32px auto 0px auto;
}

section {
  width:920px;
  margin: 0px auto;
  border: solid 0px blue;
}

.sectionLeft {
  float: left;
  border:solid 1px red;
  width:438px;
  margin-right:20px;
}

.sectionRight {
  float: left;
  border:solid 1px red;
  width:438px;
  margin-left:20px;
}

#about {
  margin-top: 113px;
  height:345px;
}

#thummans {
  width: 205px;
  height: 94px;
  background-image: url('images/logo.png');
  display: inline-block;
  margin:0px 25px;
  vertical-align: middle;
}

#thummans span {
  display:none;
}

#thumannsDifference {

}

.content{
  width: 920px;
  margin: 0px auto;
}

.contactUs {
  font-family: 'OpenSansBold';
  color:#FFF;
  text-transform: uppercase;
  padding: 7px 18px;
  border: 1px solid #FFF;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  margin-right:11px;
}

.contactUs:hover {
  font-family: 'OpenSansBold';
  color:#b5121b;
  text-transform: uppercase;
  padding: 7px 18px;
  border: 1px solid #b5121b;
  background-color: #FFF;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  margin-right:11px;
}

/* MEDIA QUERIES
---------------------------------------------------------------------- 
 @media (min-width:640px) and (max-width:1024px) { 
  header a {  
    text-align: center;
    margin-right: 50px;
  }
}
 @media (min-width:480px) and (max-width:639px) { 
  header a {  
    display:block; 
    text-align: center;
    margin-right: 35px;
  }
}
 @media (min-width:320px) and (max-width:479px) { 
  header a { 
    display:block; 
    margin-right: 25px;
  }
}
 @media (min-width:0px) and (max-width:319px) { 
  header a { 
    display:block; 
    margin-right: 25px;
  }
}*/